<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <h1>Welcome to my Home Page!</h1>
    <p>Here are two links where you can leave a note for the ext visiotrs.</p>
    <div class="note"><a href="/note-page">NotePage</a></div>
    <div class="note"><a href="/note-page">NotePage</a></div>
</body>
</html>