h1 {
    font-size: 45px;
    color: blue;
    text-align: center;
}

p {
    color: aqua;
    text-align: center;
}

.note {
    text-align: center;
   
}

.note a {
    text-decoration: none;
}