h1 {
    font-size: 45px;
    color: blue;
    text-align: center;
    border: 2px solid black;
}

p {
    color: darkblue;
    text-align: center;
    
}

.note {
    text-align: center;
   
}

.note a {
    text-decoration: none;

}

.form {
    text-align: center;

}